![Cover](cover/3.%20Variable,%20Datatype,%20Operations.png)

### Outline 
* Variables
* Data Type
* Operations
* Typecasting
* Input Function

### Variables
A variable in Python is a name that stores a value <br>
like x = 10

In [17]:
a = 12
b = "Aorb"

In [18]:
a

12

In [19]:
b

'Aorb'

### Datatype
Primarily there are the following data types in Python:

1. Integers
2. Floating point numbers
3. Strings
4. Booleans
5. None

In [25]:
# Int Example
a = 33
type(a)

int

In [26]:
# string
b = "aorb"
type(b)

str

In [27]:
# float 
c = 1.22
type(c)

float

In [28]:
# bool
d = True
type(d)

bool

In [29]:
# None
e = None
type(e)

NoneType

#### Rules for defining a variable name: (Also applicable to other identifiers)
* A variable name can contain alphabets, digits, and underscore.

In [41]:
amir1_ = 1
amir1_

1

* A variable name can only start with an alphabet and underscore.

In [42]:
aorb1_ = 23
aorb1_

23

In [43]:
_a = 2
_a

2

* A variable canâ€™t start with a digit.

In [44]:
2a = 12
2a

SyntaxError: invalid decimal literal (2754157936.py, line 1)

* No white space is allowed to be used inside a variable name.

In [45]:
a b = 12
a b

SyntaxError: invalid syntax (726893597.py, line 1)

* Variables is also case sensitive

In [46]:
A = 2
a = 3

In [47]:
A

2

In [48]:
a

3

#### Professional way to define variables for better program efficiency and readability

##### Camel Case

In [57]:
myFirstCode = 1

##### Pascal Case

In [58]:
MyFirstCode = 3

#### Snake Case

In [59]:
my_first_program = 13

### Operators
The following are some common operators in Python:

1. Arithmetic Operators (+, -, *, /, etc.)
2. Assignment Operators (=, +=, -=, etc.)
3. Comparison Operators (==, >=, <=, >, <, !=, etc.)
4. Logical Operators (and, or, not)

##### Arithmetic operators (+, -, *, /, etc.)

In [70]:
a = 3
b = 2

In [71]:
# addition
a + b

5

In [72]:
# substraction
a - b

1

In [74]:
# Muliplication
a * b

6

In [78]:
# Exponents
a ** b

9

In [79]:
3**3

27

In [80]:
# Mode
a % b

1

##### Assignment Operators (=, +=, -=, etc.)

In [ ]:
a = 3
a += 4    # a = a + 4
a

7

In [85]:
c = 2
c -= 1  # c = 2 - 1
c

1

##### Comparison Operators (==, >=, <=, >, <, !=, etc.)

In [88]:
a = 3
b = 2

In [90]:
# greater than (>)
a > b

True

In [91]:
# less than (<)
a < b

False

In [92]:
# equal to (==)
2 == 2

True

In [93]:
a == b

False

In [94]:
# not equal to (!=)
a != b

True

#### 4. Logical Operators (and, or, not)

In [97]:
a = 2
b = 3

x = 2
y = 5

In [ ]:
# or
a > b or x > y    # false or false = false

False

In [ ]:
a > b or x < y    # false or true = true

True

In [101]:
# and
3 > 2 and 2 < 1    # f and T = f

False

In [102]:
2 == 2 and 3 > 2  # T and T = T

True

In [105]:
# not
not(True)

False

In [ ]:
not(2 > 2)

True

In [107]:
not (2>= 2)

False

### Typecasting
Type casting in Python is the process of converting one data type into another using functions like int(), float(), str(), etc.

In [110]:
# int to float
a = 3
type(a)

int

In [111]:
a = float(a)
type(a)

float

In [112]:
a

3.0

In [113]:
# float to int
x = 3.2
x = int(x)
x

3

In [114]:
# str to float
a = "3"

In [115]:
type(a)

str

In [116]:
a = float(a)
a

3.0

In [117]:
a = "3a"
a = float(a)
a

ValueError: could not convert string to float: '3a'

### Input Function

The input() function in Python is used to take user input as a string from the standard input (keyboard).

In [121]:
name = input("ENter your name: ")
name

'amir ali'

In [122]:
type(name)

str

For More details <br>
https://sites.google.com/view/aorbtech/programming/python

##### @ Aorb Tech