![Cover](cover/5.%20List%20and%20Tuple.png)

### Outline 
* Lists
* Tuples

### List
Python lists are used to store multiple values of any data type in a single variable.

In [6]:
a = [1 , 2, 4, 4, 5, 6, 7, 8, 9, 10]
a

[1, 2, 4, 4, 5, 6, 7, 8, 9, 10]

In [7]:
type(a)

list

In [8]:
b = [1, 2, 3, 'a', 'b', 'c', 4, 5, 6]
b

[1, 2, 3, 'a', 'b', 'c', 4, 5, 6]

In [9]:
type(b)

list

### List Indexing
Indexing starts from 0

In [11]:
b

[1, 2, 3, 'a', 'b', 'c', 4, 5, 6]

In [12]:
b[0]

1

In [13]:
b[3]

'a'

In [14]:
b[9]

IndexError: list index out of range

In [15]:
b[8]

6

### List Slicing
$$
list[start:end:step]
$$

In [20]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
num[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
num[0:5]

[1, 2, 3, 4, 5]

In [24]:
num[1:2]

[2]

In [25]:
num[5:10]

[6, 7, 8, 9, 10]

In [26]:
num[0:10:2]

[1, 3, 5, 7, 9]

In [27]:
num[0:10:3]

[1, 4, 7, 10]

In [28]:
num[-4]

7

In [29]:
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
num[-4::2]

[7, 9]

#### Change Item in List

In [34]:
mix_list = [3, "Amir", False, 3.4, None]
mix_list

[3, 'Amir', False, 3.4, None]

In [35]:
mix_list[2] = True
mix_list

[3, 'Amir', True, 3.4, None]

In [36]:
mix_list[1] = "Ali"
mix_list

[3, 'Ali', True, 3.4, None]

#### List Method

Consider the following list:

L1 = [1, 8, 7, 2, 21, 15]

In [37]:
a = [3, 1, 5, 3, 6, 8, 22, 34, 11, 9]

**sort()** – updates the list to [1,2,7,8,15,21]

In [39]:
a.sort()
a

[1, 3, 3, 5, 6, 8, 9, 11, 22, 34]

**reverse()**– updates the list to [15,21,2,7,8,1]

In [42]:
a.reverse()
a

[34, 22, 11, 9, 8, 6, 5, 3, 3, 1]

**append(8)** – adds 8 at the end of the list

In [43]:
a

[34, 22, 11, 9, 8, 6, 5, 3, 3, 1]

In [44]:
a.append(100)
a

[34, 22, 11, 9, 8, 6, 5, 3, 3, 1, 100]

In [49]:
a.append(200)
a

[34, 22, 11, 9, 8, 6, 5, 3, 3, 1, 100, 200, 200, 200, 200, 200]

**insert(3,8)** – This will add 8 at 3 index

In [50]:
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
num.insert(1, 5)
num

[1, 5, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
num.insert(0, "A")
num

['A', 1, 5, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**pop(2)** – It will delete element at index 2 and return its value

In [56]:
num

[1, 5, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
num.pop(1)
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
num.pop(0)

1

In [59]:
num

[2, 3, 4, 5, 6, 7, 8, 9, 10]

**remove(21)** – It will remove 21 from the last

In [60]:
mix_list = [3, "Amir", False, 3.4, None]
mix_list

[3, 'Amir', False, 3.4, None]

In [61]:
mix_list.remove("Amir")
mix_list

[3, False, 3.4, None]

In [62]:
mix_list.remove(3.4)
mix_list

[3, False, None]

### Tuple

A tuple in Python is a fixed (unchangeable) list of values.

In [63]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
a

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [64]:
type(a)

tuple

In [67]:
b = (1,)
b

(1,)

In [68]:
type(b)

tuple

In [69]:
numint = (1, 2, 'a')

In [70]:
numint

(1, 2, 'a')

In [71]:
type(numint)

tuple

### Tuple is Unchangeable

In [73]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
a

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [74]:
a[1] = 3
a

TypeError: 'tuple' object does not support item assignment

In [75]:
# silicing in tuple
a[1:5]

(2, 3, 4, 5)

In [76]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Tuple methods

**count()**  Check the occurance of given item

In [81]:
a = (1, 2, 2, 3, 4, 5, 2, 1)
a

(1, 2, 2, 3, 4, 5, 2, 1)

In [82]:
a.count(2)

3

In [83]:
a.count(1)

2

**index()**  Check the index of given item

In [86]:
a

(1, 2, 2, 3, 4, 5, 2, 1)

In [87]:
a.index(2)

1

In [88]:
a.index(1)

0

For the source code, please visit our website: <br>
https://sites.google.com/view/aorbtech/programming/python

@Aorb Tech