![Image](cover/6.%20Dictionaries,%20Sets.png)

### Outline
1. Creating Dictionaries
2. Accessing Dictionaries
3. Dictionary Methods
4. Creating Sets
5. Set Methods

### Dictionaries
A dictionary is a collection of key-value pairs, where the key is essentially an index which can be used to get the value. </br>
Dictionaries are useful when we want to store information so that it can be accessed in ways other than using integer indices. </br>
Some basic facts about dictionaries:</br>
* Unordered
  * The items in the dictionary have no specific order. 
* Mutable
  * Each Dictionary can be updated during runtime.
* Key-uniqueness
  * There can be no duplicate keys in a dictionary. (unidirectional relationship)</br>

To create a dictionary in Python we can use the following syntax:

In [1]:
example_dictionary = {
    "Apple": "A red fruit | A tech company",
    "Useful": "Something with a purpose",
    "Python": "A type of snake | A versitile programming language",
    "Computer": "A box that can think | A person that calculates maths"
}
# in this case the dictionary is an actualy dictionary, with words and definitions
# the key is the word, and the value is the definition
type(example_dictionary)

dict

In [2]:
student_grades = {
    "Eric": 4.73,
    "Amir": 4.82,
    "John": 3.53,
    "Kate": 4.00,
}
# in this case the dictionary is a list of students and their grades
# the key is the student name, and the value is the grade

In [3]:
# if we try to create a dictionary with duplicate keys only one will be registered
colours = {
    "red": "#FF0000",
    "green": "#00FF00",
    "blue": "#0000FF",
    "red": "#FF1111"
}
print(colours)

{'red': '#FF1111', 'green': '#00FF00', 'blue': '#0000FF'}

#### Accessing parts of a dictionary

In [4]:
print(student_grades["Eric"])
# this should print 4.73, as that is the value of the key "Eric" in the dictionary student_grades

4.73

In [5]:
print(student_grades[4.73])
# this will throw an error, as dictionaries are one-directional, that is, you can use the key to get the value,
# but you cannot use the value to get the key

KeyError: 4.73

#### Nested dictionaries

In [6]:
personal_info = {
    "name":"eric",
    "age":"19",
    "phone":{
        "home":"1234567890",
        "mobile":"0987654321"
    }
}
# in this dictionary, the key "phone" has a dictionary as its value
# this is called a nested dictionary, (a dictionary within a dictionary)
type(personal_info["phone"])

dict

In [7]:
# we can also access these values similarly, here's the Eric's mobile phone number:
print(personal_info["phone"]["mobile"])

0987654321

### Dictionary Methods

In [8]:
movie_scores = {
    "jurassic park": 9.2,
    "shrek": 8.4,
    "the matrix": 9.6,
}

#### keys()

In [9]:
# we can access the keys using the .keys() method
print(movie_scores.keys())

dict_keys(['jurassic park', 'shrek', 'the matrix'])

#### values()

In [10]:
# # we can also access the values using the .values() method
print(movie_scores.values())

dict_values([9.2, 8.4, 9.6])

#### items()

In [11]:
# we can access a list of tuples, where each tuple is a key-value pair using the .items() method
print(movie_scores.items())

dict_items([('jurassic park', 9.2), ('shrek', 8.4), ('the matrix', 9.6)])

#### update()

In [12]:
prices = {
    "apple": 0.40,
    "banana": 0.75,
    "milk" : 1.50
}
# in this case the dictionary is a list of items and their prices

In [13]:
# we can add a sandwich to the dictionary using the update() method
prices.update({"turkey sandwich": 3.59})
print(prices.items())
# this will print the dictionary with the new item added

dict_items([('apple', 0.4), ('banana', 0.75), ('milk', 1.5), ('turkey sandwich', 3.59)])

In [14]:
# we can also do this with the nested dictionary from earlier
personal_info["phone"].update({"work":"1357924680"})
print(personal_info["phone"])

{'home': '1234567890', 'mobile': '0987654321', 'work': '1357924680'}

In [15]:
# we can also use this to update the value of a key, lat's make the apple more expensive
prices.update({"apple": 0.80})
print(prices["apple"])

0.8

In [16]:
# we can also update our mobile phone's number
personal_info["phone"].update({"mobile":"0192837465"})
print(personal_info["phone"]["mobile"])

0192837465

#### get()
The get function can be used similarly to using dict[key] to get the value, the difference is in the value returned when the key we query isn't in the dictionary:</br>
* get() --> returns None
* [] --> returns KeyError

In [17]:
dict1 = {
    1: "one",
    2: "two",
    3: "three"
}

In [18]:
print(dict1.get(4))

None

In [19]:
print(dict1[4]) # isn't in our dictionary so we'll get a KeyError

KeyError: 4

## Sets
Sets in Python are similar to the sets we use in mathematics, containing any number of unique values.</br>
Some basic facts about sets:</br>
* Unordered
  * The items in the dictionary have no specific order.
* Un-indexable
  * Values in the sets cannot be indexed, accessed via an index.
* Immutable
  * A set cannot be updated during runtime.
* Value-uniqueness
  * There can be no duplicate values in a set.</br>

### Creating Sets

#### Using braces {}

In [20]:
set1 = {3, 1, 4, 5, 9}
print(type(set1))

<class 'set'>

#### Using the set() function

In [21]:
set2 = set((2, 7 ,1, 8))
type(set2)

set

#### Unique values

In [22]:
# there are repeating values in this tuple, but when we convert it to a set, the repeating values are removed
digits_of_pi = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
unique_digits = set(digits_of_pi)
print(unique_digits)

{1, 2, 3, 4, 5, 6, 9}

#### Empty Sets

In [23]:
empty1 = {}         # this creates an empty dictionary
empty2 = set(())    # this creates an empty set

In [24]:
print(type(empty1))
print(type(empty2))

<class 'dict'>
<class 'set'>

### Set Methods

#### add()
Adds a given value to the set

In [25]:
a = {1, 2, 3}
a.add(4)
print(a)

{1, 2, 3, 4}

#### len()
Returns the cardinality of the set

In [26]:
print(len(a))

4

#### remove()
Removes a given value from the set

In [27]:
a.remove(3)
print(a)

{1, 2, 4}

#### pop()
Removes an arbitrary value from the set and returns it.

In [28]:
b = {4, 8, 15, 16, 23, 42}
print(b)

{16, 4, 23, 8, 42, 15}

In [29]:
b.pop()

16

In [30]:
b.pop()

4

In [31]:
print(b)

{23, 8, 42, 15}

#### clear()
Empties the entire set

In [32]:
b.clear()
print(b)

set()

#### union()
Returns a set containing all the values from both sets

In [33]:
a = {1, 3, 5}
b = {0, 2, 4}
c = a.union(b)
print(c)

{0, 1, 2, 3, 4, 5}

#### intersection()
Returns only the values found in both sets

In [34]:
# since neither set contains any overlapping values, the union of the two sets will be empty
c = a.intersection(b)
print(c)

set()

In [35]:
# multiples of three
a = {3, 6, 9, 12, 15, 18, 21}
# multiples of two
b = {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
# the intersection of these two sets will be the multiples of both two and three
c = a.intersection(b)
print(c)

{18, 12, 6}

For More details <br>
https://sites.google.com/view/aorbtech/programming/python

##### @ Aorb Tech